  
  .order-summary {
    width: 60%;
    margin: 20px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Figtree !important;
  }
  
  .order-summary h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5em;
  }
  
  .summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .summary-item:last-child {
    border-bottom: none;
  }
  
  .label {
    font-weight: bold;
    color: #555;
  }
  
  .value {
    color: #777;
  }
  
  .proceed-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #14a4f5;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .proceed-button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .order-summary {
      padding: 15px;
    }
  
    .summary-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .value {
      margin-top: 5px;
    }
  }
  