.CAT_video{
    display: flex;
    width: 400px;
    height: 250px;
    overflow: hidden;
    padding: 152px 322px 152px 342px;
    border-radius: 16px;
    border: 2px solid rgba(20, 164, 245, 0.20);
    background: var(--TCM-Brand-brand-blue11, #E3EFFE);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    top: -200px; /* Add this - adjust as needed */
    z-index: 2; /* Add this */
    position: absolute;
    /* existing styles */
    top: 797px; /* adjust as needed */
    left: 50%; /* adjust as needed */
    transform: translate(-50%, -50%); /* centers the element */
    margin: 20px;
}

.CAT_video_button{
    margin-top: 10%;
    margin-left: 14%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;

}

.rectangle_one{
    position: relative;
    background-color: #14A4F5;
    width: 100%;
    height: 850px;
    flex-shrink: 0;
    display: flex; /* Add this */
    justify-content: center; /* Add this */
    align-items: center; /* Add this */ /* Add this */
    opacity: auto; 
    z-index: 1; /* Add this */
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.panckmukhi_heading{
    top:20%;
    width: 1042px;
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    position: absolute;
}

.roadmap{
    margin-top: 14%;
    margin-left: 10%;
    overflow: hidden;
    width: 1300px;
    height: 100%;
    background: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.roadmap-head{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    width: 500px;
}

.roadmap-heading{
    width: 471px;
    font-family: Figtree;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    display: inline;
}

.BLACK{
    color: var(--TCM-Neutral-grey13, #000);
}

.BLUEE{
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    gap: 20px;
    
    
}



.roadmap-heading-detail{
    width: 402px;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.counsel{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--Neutral-Gray-50, #F8FAFC);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    border: none;
}

.counsel a{
    text-decoration: none;
    color: white;
}

.trial{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
    background: var(--TCM-Neutral-grey01, #FFF);
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}
.trial a{
    text-decoration: none;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
}
.slidee-img{
    margin-top: 5%;
    width: 60%;
    height: 600px;
    align-items: left;
    
}

.Step_one{
    display: flex;
    align-items: center;
    gap: 103px;
    margin-left: 6%;
    margin-top: 7%;
}

.Step_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
}

.Step_content_heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.Step_content_heading_block{
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.Step_content_heading_title{
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}

.Step_content_detail{
    width: 764px;
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
}

.Step_img{
    display: flex;
    width: 377px;
    height: 377px;
    overflow: hidden;
    padding: 39.004px 9.435px 39.302px 9.222px;
    justify-content: center;
    align-items: center;
}


.course-select{
    margin-top:5%;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    padding: 60px 163px;
    background: var(--TCM-Brand-brand-blue11, #E3EFFE);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.course-select-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.course-head{
    margin-left: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    text-align: center;
}

.course-head-title{
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}

.course-head-option{
    display: flex;
    align-items: flex-start;
    gap: 44px;
}

.option{
    display: flex;
    padding: 9px 31px;
    border-radius: 59px;
    border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

.course-body{
    margin-left: -100;
    display: flex;
    align-items: center;
    gap: 38px;
}

.card3{
    width: 300px;
    display: flex;
    padding: 40px 67px;
    border-radius: 16px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.oval{
    fill: var(--TCM-Brand-brand-blue12, #F1F7FE);
    width: 113px;
    height: 113px;
}

.book2{
    position: absolute;
    left: 22px;
    top: 23px;
    width: 68px;
    height: 68px;
}

.card3-title{
    width: 243px;
    color: var(--TCM-Brand-brand-blue13, #FFF);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.card3-title2{
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.card3-detail{
    display: flex;
    height: 165px;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    width: 208px;
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}


.card3-price{
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.card3-buy{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    background: var(--TCM-Neutral-grey01, #FFF);
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: none;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
}

.card3-more{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    text-decoration-line: underline;
}

.card3-other{
    margin-left: 5%;

    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.card3-manymore{
    display: flex;
    padding: 1px 20px;
    border-radius: 38px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    text-decoration-line: underline;
}

.card3-extra{
    margin-left: 5%;
    display: flex;
    padding: 9px 31px 9px 18px;
    border-radius: 400px;
    background: var(--TCM-Brand-brand-blue06, #97C8FA);
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.bell{
    width: 24px;
    height: 24px;
}

.card4{
    display: flex;
    padding: 28px 52px;
    border-radius: 16px;
    border: 2px solid rgba(20, 164, 245, 0.30);
    background: var(--TCM-Brand-brand-blue12, #F1F7FE);
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.oval2{
    fill: var(--TCM-Brand-brand-blue10, #D4E7FD);
    width: 113px;
    height: 113px;
}

.card4-title{
    width: 255px;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.card4-title2{
    color: var(--TCM-Neutral-grey10, #262626);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.card4-contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.card4-detail{
    display: flex;
    height: 130px;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.card4-manymore{
    margin-left: 8%;
    width: 266px;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
}

.card4-price{
    color: var(--TCM-Neutral-grey10, #262626);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.card4-other{
    margin-left: 5%;

    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.card4-buy{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: none;
    color: var(--TCM-Neutral-grey01, #FFF);
}

.card4-more{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    text-decoration-line: underline;
}

.card4-extra{
    display: flex;
    padding: 9px 31px 9px 18px;
    border-radius: 400px;
    background: var(--TCM-Brand-brand-blue11, #E3EFFE);
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.bell{
    width: 24px;
    height: 24px;
}

.FQA{
    margin-top: 14%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #FFF;
    display: flex;
    justify-content: center;
}

.FQA-area{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.FQA-head{
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}

.FQA-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}


.FQA-question {
        display: flex;
        flex-direction: column;
        padding: 24px 50px 24px 40px;
        border-radius: 16px;
        border: 1px solid var(--TCM-Neutral-grey05, #D9D9D9);
        background: var(--TCM-Neutral-grey02, #FAFAFA);
        width: 55vw;
}

.question-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.question{
    flex-grow: 1;
    width: auto;
    color: #000;
    width: 782px;
    color: #000;
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.answer-btn{
    display: flex;
    width: 34px;
    height: 34px;
    padding: 10px;
    border-radius: 38px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: none;
    color: white;
    
}

.answer{
    margin-top: 3%;
    width: 55vw;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/*phone view */

@media (max-width: 768px) {

    .CAT_video{
        display: flex;
        width: 1px;
        height: 0px;
        overflow: hidden;
        padding: 202px 229px 82px 72px;
        border-radius: 16px;
        border: 2px solid rgba(20, 164, 245, 0.20);
        background: var(--TCM-Brand-brand-blue11, #E3EFFE);
        justify-content: center;
        flex-shrink: 0;
        top: -200px;
        z-index: 2; 
        position: absolute;
        top: 442px;
        left:51%; 
        transform: translate(-50%, -50%); 
        margin: 10px;
    }
    
    .CAT_video_button img{
        margin-bottom: 80%;
        margin-left: 94%;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
    
    }
    
    .rectangle_one{
        position: relative;
        background-color: #14A4F5;
        width: 100%;
        height: 349px;
        flex-shrink: 0;
        display: flex;
        justify-content: center; 
        align-items: center; 
        opacity: auto; 
        z-index: 1;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        bottom: 40px;

    }
    
    .panckmukhi_heading{
        top:20%;
        width: 90%;
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        position: absolute;
    }

    .roadmap{
        margin-top: 25%;
        margin-left: 15px;
        overflow: hidden;
        width: 96%;
        height: auto;
        background: #FFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    
    .roadmap-head{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        width: 46%;
        margin-top:20%;
    }
    
    .roadmap-heading{
        width: 100%;
        font-family: Figtree;
        display: flex;
        flex-direction: row;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        gap: 3px;
    }
    
    .BLACK{
        color: var(--TCM-Neutral-grey13, #000);
        font-size: 18px;
        width: 120%;
        height: 40%;
    }
    
    .BLUEE{
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        display: flex;
        width: 40%;
        font-size: 20px;
        flex-direction: row;
        gap: 3px;
        
    }
    
    .roadmap-heading-detail{
        width: 100%;
        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .buttons{
        width: 200px;
        height: 90px;
        display: flex;
        flex-direction: row;
        gap: 6px;
        align-items: flex-start;
    
    }
    
    .counsel{
        width: 100%;
        display: flex;
        padding: 1px 16px;
        border-radius: 38px;
        border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: white;
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
    }
    .counsel a{
        text-decoration: none;
        color: white;
    }
    .trial{
        width: 100%;
        display: flex;
        padding: 1px 16px;
        border-radius: 38px;
        border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
        background: var(--TCM-Neutral-grey01, #FFF);
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
    }

    .trial a{
        text-decoration: none;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
    }
    
     
    .slidee-img{
        margin-top: 5%;
        width: 50%;
        height: 327px;
        
    }

    .slide-imgg{
        position: relative;
        bottom: 45%;
        width: 30%;
        height: auto;
    }

    .Step_one{
        width: 96%;
        height: auto;
        display: flex;
        align-items: center;
        gap: 0px;
       margin-left: 2%;
        margin-top: 7%;
    }
    
    .Step_content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 13px;
        position: relative;
        left: 0%;
    }
    
    .Step_content_heading{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    
    .Step_content_heading_block{
        width: 100%;
        height: auto;
        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-items: flex-start;
        display: flex;
    }
    
    .Step_content_heading_title{
        width: 100%;
        height: auto;
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-items: flex-start;
        display: flex;
    }
    
    .Step_content_detail{
        width: 100%;
        height: auto;
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .Step_img{
        display: flex;
        width: 96%;
        height: auto;
        overflow: hidden;
        padding: 3.833px 5.502px 3.971px 1.543px;
        justify-content: center;
        align-items: center;
    }

    .course-select{
        margin-top:5%;
        display: flex;
        overflow: hidden;
        background: var(--TCM-Brand-brand-blue11, #E3EFFE);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 23px;
    }

     .course-select-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    } 
    .course-head{
        margin-left: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        text-align: center;
    }

    .course-head-title{
        width: 221px;
        line-height: 32px;
        font-feature-settings: 'clig' off, 'liga' off;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: var(--font-xxl);
        font-style: normal;
        font-weight: 700;
        text-align: center;
    }

    .course-head-option{
        display: flex;
        align-items: flex-start;
        gap: 11px;
        width: 283px;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;

    }

    .option{
        display: flex;
        padding: 5px 20px;
        border-radius: 59px;
        border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }

    .course-body{
        display: flex;
        width: 310px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 23px;
    }

    .card3{
        display: flex;
        width: 306px;
        padding: 16px 20px;
        border-radius: 16px;
        border: 2px solid rgba(20, 164, 245, 0.30);
        background: var(--TCM-Brand-brand-blue01, #14A4F5);
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        position: relative;
        right: 7%;
    }

    .oval{
        fill: var(--TCM-Brand-brand-blue13, #FFF);
        width: 92px;
        height: 92px;
    }

    .book2{
        position: absolute;
        left: 22px;
        top: 23px;
        width: 68px;
        height: 68px;
    }

    .card3-title{
        width: 243px;
        color: var(--TCM-Brand-brand-blue13, #FFF);
        font-family: Figtree;
        font-size: var(--font-card-title-two);
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }

    .card3-title2{
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .card3-detail{
        display: flex;
        height: 165px;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        width: 208px;
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }


    .card3-price{
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    .card3-buy{
        display: flex;
        padding: 10px 20px;
        border-radius: 38px;
        background: var(--TCM-Neutral-grey01, #FFF);
        justify-content: center;
        align-items: center;
        gap: 6px;
        border: none;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
    }

    .card3-more{
        display: flex;
        padding: 10px 20px;
        border-radius: 38px;
        justify-content: center;
        align-items: center;
        gap: 6px;

        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        text-decoration-line: underline;
    }

    .card3-other{
        margin-left: 5%;

        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: row;
    }

    .card3-manymore{
        display: flex;
        padding: 1px 20px;
        border-radius: 38px;
        justify-content: center;
        align-items: center;
        gap: 6px;

        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        text-decoration-line: underline;
    }

    .card3-extra{
        display: flex;
        padding: 9px 31px 9px 18px;
        border-radius: 400px;
        background: var(--TCM-Brand-brand-blue06, #97C8FA);
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 247px;
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .bell{
        width: 24px;
        height: 24px;
    }

    .card4{
        display: flex;
        width: 306px;
        padding: 16px 20px;
        border-radius: 16px;
        border: 2px solid rgba(20, 164, 245, 0.30);
        background: var(--TCM-Brand-brand-blue12, #F1F7FE);
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        position: relative;
        right: 7%;
    }

    .oval2{
        fill: var(--TCM-Brand-brand-blue10, #D4E7FD);
        width: 113px;
        height: 113px;
    }

    .card4-title{
        width: 214px;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }

    .card4-title2{
        color: var(--TCM-Neutral-grey10, #262626);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; 
    }

    .card4-contents{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .card4-detail{
        display: flex;
        height: 130px;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .card4-manymore{
        margin-left: 8%;
        width: 266px;
        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-decoration-line: underline;
    }

    .card4-price{
        color: var(--TCM-Neutral-grey10, #262626);
        font-family: Figtree;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    .card4-other{
        margin-left: 5%;

        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: row;
    }

    .card4-buy{
        display: flex;
        padding: 10px 20px;
        border-radius: 38px;
        background: var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 6px;
        border: none;
        color: var(--TCM-Neutral-grey01, #FFF);
    }

    .card4-more{
        display: flex;
        padding: 10px 20px;
        border-radius: 38px;
        justify-content: center;
        align-items: center;
        gap: 6px;

        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        text-decoration-line: underline;
    }

    .card4-extra{
        display: flex;
        padding: 9px 31px 9px 18px;
        border-radius: 400px;
        background: var(--TCM-Brand-brand-blue11, #E3EFFE);
        justify-content: center;
        align-items: center;
        gap: 10px;

        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .bell{
        width: 24px;
        height: 24px;
    }

    .FQA{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    
    .FQA-area{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
    }
    
    .FQA-head{
        width: 206px;
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        position: relative;
        left: 15%;
    }
    
    .FQA-body{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    
    
    .FQA-question {
        margin-left: 5%;
        display: flex;
        width: 290px;
        padding: 10px 12px;
        border-radius: 8px;
        border: 1px solid var(--TCM-Neutral-grey05, #D9D9D9);
        background: var(--TCM-Neutral-grey02, #FAFAFA);
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .question-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    
    
    .question{
        width: 225px;
        flex-shrink: 0;
        color: #000;
        font-family: Figtree;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        font-feature-settings: 'clig' off, 'liga' off;
    }
    
    .answer-btn{
        display: flex;
        width: 25px;
        height: 25px;
        padding: 10px;
        border-radius: 38px;
        background: var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        
    }
    
    .answer{
        width: 283px;
        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        font-feature-settings: 'clig' off, 'liga' off;
    }
}