.home{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.headd{
    margin-left: 70px;
}

.blue-head{
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-size: 44px;
}

.black-head{
    margin-top: 5px;
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    max-width: 700px;
}

.para-one{
    margin-top: 30px;
    max-width: 650px;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: justify;
}

.btnn{
    margin-top: 20px;
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    color: aliceblue;
    background-color: #14A4F5;
    font-family: Figtree;
    justify-content: center;
    align-items: center;
    border: none;
}

.btnn a {
    text-decoration: none;
}

.btnn a {
    text-decoration: none;
}
.book_one a {
    text-decoration: none;
}

.head-img {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}



.heading-subheading{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote{
    margin-top: 15%;
    color: var(--TCM-Neutral-grey12, #141414);
    font-family: Figtree;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
}
.home_two_content{
    margin-top: 15px;
    width: 80%;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}
.but2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;

}

.Counsel a {
    text-decoration: none;
    color: var(--Neutral-Gray-50, #F8FAFC);

}
.Counsel{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    color: var(--Neutral-Gray-50, #F8FAFC);
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: none;
}


.book_one{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    color: #14A4F5;
    border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
    background-color:white;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.book_one a {
    text-decoration: none;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
}

.home_two_img img{
    margin: auto;
    margin-top: 5%;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.quote2{
    margin-top: 8%;
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    margin-left: 6%;
}

.home_three_content{
    margin-top: 1.5%;
    margin-left: 16%;
    width: 1022px;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.card--image{
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0px 0px;
}
.card--content{
    display: flex;
    width: calc(100% - 28px);
    padding: 12px 13px;
    position: relative;
    border-radius: 0px 0px 8px 8px;
    background: var(--TCM-Neutral-grey02, #FAFAFA);
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-top: 0.8px solid var(--TCM-Neutral-grey05, #D9D9D9);
}

.call{
    position: fixed;
    bottom: 23px;
    right: 32px;
    border-radius: 100px;
}
@media (min-width: 769px) { /* Change to tablet or desktop view */
    
    .mobile-view {
        display: none; /* Hide on desktop */
    }

    .desktopp-view {
        display: flex; /* Show on desktop */
        justify-content: space-around; /* Add space between the cards */

    }
    .desktop-view {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 34px;
        flex-wrap: wrap;/* if you want some space between the cards */
    }
}
.card{
    margin-left: 24px;
    width: 248px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    border-radius: 8px;
    border: 0.8px solid var(--TCM-Neutral-grey05, #D9D9D9);
}

.card--title{
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}


.card--faculty{
    color: var(--TCM-Neutral-grey07, #8C8C8C);
    font-family: Figtree;
    font-size: 14.4px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.card--viewmore{
    margin-top: 0.5%;
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
}

.card--viewmore a {
    text-decoration: none;
    color: var(--TCM-Neutral-grey13, #000);

}

.panchmukhi-img{
    margin: auto;
    margin-top: 80px;
    width: 80%;
    height: auto;

}

.quote3{
    margin-top: 8%;
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    margin-left: 1%;
}

.home_four_content{
    margin-top: 1.5%;
    margin-left: 16%;
    width: 1022px;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.card-2-container {
    display: flex;
width: 2251px;
justify-content: center;
align-items: center;
align-content: center;
gap: 34px;
flex-wrap: wrap;
     /* This will allow the cards to wrap to the next line if the container width is not enough */
}

.card_two{
    display: flex;
    padding: 16px 61px 16px 43px;
    border-radius: 10px;
    border: 2px solid rgba(20, 164, 245, 0.16);
    background: var(--TCM-Brand-brand-blue12, #F1F7FE);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width:330px;
    margin-left: 34px;
}

.top-layer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.topp-lay{
    display: flex;
    align-items: center;
    gap: 12px;
}


.stud-img{
    width: 68px;
    height: 68px;
    border-radius: 68px;
}

.stud-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.stud-name{
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.stud-cor{
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.stud-ile{
    display: flex;
    padding: 8px 20px;
    border-radius: 6px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    align-items: center;
    gap: 10px;
    color:var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.stud-detail{
    width: 90%;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-feature-settings: 'clig' off, 'liga' off;
        display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.stud-more{
    color: var(--TCM-Brand-brand-blue02, #43AAF6);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
}

.stud-more a {
    text-decoration: none;
    color: #14A4F5;
}

.course-select{
    margin-top:5%;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    padding: 60px 163px;
    background: var(--TCM-Brand-brand-blue11, #E3EFFE);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.course-select-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.course-head{
    margin-left: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    text-align: center;
}

.course-head-title{
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
}

.course-head-option{
    display: flex;
    align-items: flex-start;
    gap: 44px;
}

.option{
    display: flex;
    padding: 9px 31px;
    border-radius: 59px;
    border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    cursor: pointer;
}

.course-body{
    margin-left: -100;
    display: flex;
    align-items: center;
    gap: 38px;
}

.card3{
    width: 300px;
    display: flex;
    padding: 40px 67px;
    border-radius: 16px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.oval{
    fill: var(--TCM-Brand-brand-blue12, #F1F7FE);
    width: 113px;
    height: 113px;
}

.book2{
    position: absolute;
    left: 22px;
    top: 23px;
    width: 68px;
    height: 68px;
}

.card3-title{
    width: 243px;
    color: var(--TCM-Brand-brand-blue13, #FFF);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.card3-title2{
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.card3-detail{
    display: flex;
    height: 165px;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    width: 208px;
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


.card3-price{
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.card3-buy{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    background: var(--TCM-Neutral-grey01, #FFF);
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: none;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
}

.belll{
    width: 14px !important;
    height: 14px !important;
    position: relative;
}

.card3-buy a {
    text-decoration: none;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
}

.card4-buy a {
    text-decoration: none;
    color: var(--TCM-Neutral-grey01, #FFF);

}
.card3-more{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    text-decoration-line: underline;
}

.card3-more a{
    text-decoration-line: underline;
    color: var(--TCM-Neutral-grey01, #FFF);

}
.card3-other{
    margin-left: 5%;

    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.card3-manymore{
    display: flex;
    padding: 1px 20px;
    border-radius: 38px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    text-decoration-line: underline;
}

.card3-extra{
    display: flex;
    padding: 9px 31px 9px 18px;
    border-radius: 400px;
    background: var(--TCM-Brand-brand-blue06, #97C8FA);
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.bell{
    width: 24px;
    height: 24px;
}

.card4{
    display: flex;
    padding: 28px 52px;
    border-radius: 16px;
    border: 2px solid rgba(20, 164, 245, 0.30);
    background: var(--TCM-Brand-brand-blue12, #F1F7FE);
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.oval2{
    fill: var(--TCM-Brand-brand-blue10, #D4E7FD);
    width: 113px;
    height: 113px;
}

.card4-title{
    width: 255px;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.card4-title2{
    color: var(--TCM-Neutral-grey10, #262626);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.card4-contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.card4-detail{
    display: flex;
    height: 130px;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.card4-manymore{
    margin-left: 8%;
    width: 266px;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
}

.card4-price{
    color: var(--TCM-Neutral-grey10, #262626);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.card4-other{
    margin-left: 5%;

    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.card4-buy{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: none;
    color: var(--TCM-Neutral-grey01, #FFF);
}

.card4-more{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    text-decoration-line: underline;
}
.card4-more a{
    text-decoration-line: underline;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);

}

.card4-extra{
    display: flex;
    padding: 9px 31px 9px 18px;
    border-radius: 400px;
    background: var(--TCM-Brand-brand-blue11, #E3EFFE);
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.bell{
    width: 24px;
    height: 24px;
}

.FQA{
    margin-top: 5%;
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FQA-area{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin: auto;
}

.FQA-head{
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
}

.FQA-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}


.FQA-question {
        display: flex;
        flex-direction: column;
        padding: 24px 50px 24px 40px;
        border-radius: 16px;
        border: 1px solid var(--TCM-Neutral-grey05, #D9D9D9);
        background: var(--TCM-Neutral-grey02, #FAFAFA);
        width: 55vw;
}

.question-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.question{
    flex-grow: 1;
    width: auto;
    color: #000;
    width: 782px;
    color: #000;
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.answer-btn{
    display: flex;
    width: 34px;
    height: 34px;
    padding: 10px;
    border-radius: 38px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: none;
    color: white;
    
}

.answer{
    margin-top: 3%;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 55vw;
}

.mentor-head{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
}
.mentor-cont{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 630px;
    text-align: justify;
    font-family: Figtree;
    line-height: 120%;
}

.mentor-img{
    max-width: 350px;
    height: auto;
}
.mentor-detail{
    line-height: 150%;
}

/*phone view */

@media (max-width: 768px) {
    .call{
        right: 14px !important;
    }
    .mentor-head{
        position: relative;
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 60px;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .mentor-detail{
        font-feature-settings: 'clig' off, 'liga' off;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 12px;
        line-height: 150%;
    }

    .mentor-cont{
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 630px;
        text-align: justify;
    }
    
    .mentor-img{
        max-width: 430px;
        height: auto;
    }
    
    .home{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .headd{
        margin-left:5%;
        width: 85%;
    }
    
    .black-head{
        margin-top: 5px;
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        width: 90%;
    }
    .blue-head{
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-size: 20px;
    }
    .para-one{
        width: 90%;
        font-size: 12px;
        margin-top: 14px;
    }
    
    .btn{
        margin-top: 20px;
        display: flex;
        padding: 10px 20px;
        border-radius: 38px;
        color: aliceblue;
        background-color: #14A4F5;
        justify-content: center;
        align-items: center;
        border: none;
    }

    .Counsel{
        font-size: 10px;
    }
    .Counsel a {
        text-decoration: none;
        color: var(--Neutral-Gray-50, #F8FAFC);
    }

    .book_one{
        font-size: 10px;
    }

    .book_one a {
        text-decoration: none;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
    }

    .card--viewmore a {
        text-decoration: none;
        color: var(--TCM-Neutral-grey13, #000);
    
    }
    .btnn a {
        text-decoration: none;

    }
    
    .btnn a {
        text-decoration: none;
    }

    .btn a {
        text-decoration: none;
    }

    .btn2 a {
        text-decoration: none;
    }
    
    .head-img{
        margin-left: 5%;
        display: flex;
        justify-content: center;
        margin-top: 8%;
        width: 80%;
        height: 95%;
    }

    .heading-subheading{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }
    
    .desktop-view {
        display: none; /* Hide on mobile by default */
    }

    .carousel * {
        box-sizing: content-box !important;
    }
    
    .quote{
        margin-top: 15%;
        color: var(--TCM-Neutral-grey12, #141414);
        font-family: Figtree;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        text-align: center;
    }
    
    .home_two_img img{
        margin-top: 35px;
        width: 100%;
    }
    .home_two_content{
        width: 295px;
        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-align: center;
        margin-top: 0;
    }

    .card--image{
        width: 100%;
        height: 141px;
        border-radius: 8px 8px 0px 0px;
    }
    .card-1-container {
        display: flex;
        align-items: center;
        gap: 2px;
        flex-direction: row;
        height: 30%;
    }
    
    .desktopp-view{
        display: none;
    }
    .card--content{
        display: flex;
        padding: 11px 18px 10px 16px;
        padding-right: 10px;
        border-radius: 0px 0px 8px 8px;
        background: var(--TCM-Neutral-grey02, #FAFAFA);
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        text-align: left;
    }

    .card{
        margin-top: 40px;
        width: 148px;
        position: relative;
    }
    
    .carousel .control-prev.control-arrow {
        display: none;
    }

    .carousel.carousel-slider .control-arrow {
        display: none;
    }
    .card--title{
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: var(--font-card-title);
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
    
    .carousel-slide{
        width: 20vw !important;
    }

    .card--faculty{
        color: var(--TCM-Neutral-grey07, #8C8C8C);
        font-family: Figtree;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    
    .card--viewmore{
        margin-top: 0.5%;
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: var(--font-card-title);
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-decoration-line: underline;
    }

    .panchmukhi-img{

        margin-top: 20px;
        width: 80%;
    }

    .card-2-container {
        display: flex;
        align-items: flex-start;
        gap: 7px;
        flex-direction: row;
        width: 100%;
    }

    .btnn{
        margin-top: 20px;
        display: flex;
        padding: 10px 20px;
        border-radius: 38px;
        color: aliceblue;
        background-color: #14A4F5;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 12px;
    }
     
    .card_two{
        display: flex;
        padding: 14px 16px;
        border-radius: 10px;
        border: 2px solid rgba(20, 164, 245, 0.16);
        background: var(--TCM-Brand-brand-blue12, #F1F7FE);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        width: 230px;
        height: fit-content;
        position: relative;
        left: 1%;
        flex-shrink: 0;
        margin: 10px 14px;
        
    }

    .top-layer{
        display: flex;
        flex-direction: row;
        gap: 11px;
    }

    .bottom-layer{
        text-align: left;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .stud-img{
        width: 47px;
        height: 47px;
        border-radius: 47px;
    }


    .stud-head{
        display: flex;
        flex-direction: column;
    }

    .stud-name{
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        font-feature-settings: 'clig' off, 'liga' off;
    }

    .stud-cor{
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        font-feature-settings: 'clig' off, 'liga' off;
    }

    .stud-ile{
        display: flex;
        padding: 7px 12px;
        border-radius: 6px;
        background: var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    .stud-detail{
        width: 90%;
        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        font-feature-settings: 'clig' off, 'liga' off;
        display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    }

    .stud-more{
        color: var(--TCM-Brand-brand-blue02, #43AAF6);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        font-feature-settings: 'clig' off, 'liga' off;
    }

    .stud-more a {
        text-decoration: none;
        color: #14A4F5;
    }
    
    .course-select{
        margin-top:5%;
        display: flex;
        overflow: hidden;
        background: var(--TCM-Brand-brand-blue11, #e3effe00 ) !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 23px;
    }

     .course-select-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    } 
    .course-head{
        margin-left: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        text-align: center;
    }

    .course-head-title{
        width: 221px;
        line-height: 150%;
        font-feature-settings: 'clig' off, 'liga' off;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: var(--font-xxl);
        font-style: normal;
        font-weight: 700;
        text-align: center;
    }

    .course-head-option{
        display: flex;
        align-items: flex-start;
        gap: 11px;
        width: 283px;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;

    }

    .option{
        display: flex;
        padding: 5px 20px;
        border-radius: 59px;
        border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        text-align: center;
    }

    .course-body{
        display: flex;
        width: 310px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 23px;
    }

    .card3{
        display: flex;
        width: 306px;
        padding: 16px 20px;
        border-radius: 16px;
        border: 2px solid rgba(20, 164, 245, 0.30);
        background: var(--TCM-Brand-brand-blue01, #14A4F5);
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        position: relative;
        right: 7%;
    }

    .oval{
        fill: var(--TCM-Brand-brand-blue13, #FFF);
        width: 92px;
        height: 92px;
    }

    .book2{
        position: absolute;
        left: 22px;
        top: 23px;
        width: 68px;
        height: 68px;
    }

    .card3-title{
        width: 243px;
        color: var(--TCM-Brand-brand-blue13, #FFF);
        font-family: Figtree;
        font-size: var(--font-card-title-two);
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }

    .card3-title2{
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    .card3-detail{
        display: flex;
        height: 165px;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        width: 208px;
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }


    .card3-price{
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }

    .card3-buy{
        display: flex;
        padding: 10px 20px;
        border-radius: 38px;
        background: var(--TCM-Neutral-grey01, #FFF);
        justify-content: center;
        align-items: center;
        gap: 6px;
        border: none;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
    }

    .card3-buy a {
        text-decoration: none;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
    }

    .card3-more{
        display: flex;
        padding: 10px 20px;
        border-radius: 38px;
        justify-content: center;
        align-items: center;
        gap: 6px;

        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-align: center;
        text-decoration-line: underline;
    }

    .card3-more a {
        text-decoration-line : underline;
        color: var(--TCM-Neutral-grey01, #FFF);
    }

    .card3-other{
        margin-left: 5%;

        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: row;
    }

    .card3-manymore{
        display: flex;
        padding: 1px 20px;
        border-radius: 38px;
        justify-content: center;
        align-items: center;
        gap: 6px;

        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-align: center;
        text-decoration-line: underline;
    }

    .card3-extra{
        display: flex;
        padding: 9px 31px 9px 18px;
        border-radius: 400px;
        background: var(--TCM-Brand-brand-blue06, #97C8FA);
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 247px;
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    .bell{
        width: 24px;
        height: 24px;

    }

    .card4{
        display: flex;
        width: 306px;
        padding: 16px 20px;
        border-radius: 16px;
        border: 2px solid rgba(20, 164, 245, 0.30);
        background: var(--TCM-Brand-brand-blue12, #F1F7FE);
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        position: relative;
        right: 7%;
    }

    .oval2{
        fill: var(--TCM-Brand-brand-blue10, #D4E7FD);
        width: 113px;
        height: 113px;
    }

    .card4-title{
        width: 214px;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }

    .card4-title2{
        color: var(--TCM-Neutral-grey10, #262626);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; 
    }

    .card4-contents{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .card4-detail{
        display: flex;
        height: 130px;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .card4-manymore{
        margin-left: 8%;
        width: 266px;
        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-decoration-line: underline;
    }

    .card4-price{
        color: var(--TCM-Neutral-grey10, #262626);
        font-family: Figtree;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }

    .card4-other{
        margin-left: 5%;

        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: row;
    }

    .card4-buy{
        display: flex;
        padding: 10px 20px;
        border-radius: 38px;
        background: var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 6px;
        border: none;
        color: var(--TCM-Neutral-grey01, #FFF);
    }

    .belll{
        width: 12px !important;
        height: 12px !important;
        position: relative;
    }
    
    .card3-buy a {
        text-decoration: none;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
    }
    
    .card4-buy a {
        text-decoration: none;
        color: var(--TCM-Neutral-grey01, #FFF);
    
    }

    .card4-more{
        display: flex;
        padding: 10px 20px;
        border-radius: 38px;
        justify-content: center;
        align-items: center;
        gap: 6px;

        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-align: center;
        text-decoration-line: underline;
    }

    .card4-more a{
        text-decoration-line: underline;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);

    }

    .card4-extra{
        display: flex;
        padding: 9px 31px 9px 18px;
        border-radius: 400px;
        background: var(--TCM-Brand-brand-blue11, #E3EFFE);
        justify-content: center;
        align-items: center;
        gap: 10px;

        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    .bell{
        width: 24px;
        height: 24px;
    }

    .FQA{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    
    .FQA-area{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
    }
    
    .FQA-head{
        width: 206px;
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        position: relative;
        left: 15%;
    }
    
    .FQA-body{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    
    
    .FQA-question {
        display: flex;
        width: 290px;
        padding: 10px 12px;
        border-radius: 8px;
        border: 1px solid var(--TCM-Neutral-grey05, #D9D9D9);
        background: var(--TCM-Neutral-grey02, #FAFAFA);
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .question-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
    
    
    .question{
        width: 225px;
        flex-shrink: 0;
        color: #000;
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        font-feature-settings: 'clig' off, 'liga' off;
    }
    
    .answer-btn{
        display: flex;
        width: 25px;
        height: 25px;
        padding: 10px;
        border-radius: 38px;
        background: var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        
    }
    
    .answer{
        width: 283px;
        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        font-feature-settings: 'clig' off, 'liga' off;
    }
    .row-reverse{
        flex-direction: column !important;
    }
}


.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
    display: none !important;
    transition: opacity 1s ease-in-out;
  }
  /* Default styles */
.home_two_img .mobile-img {
    display: none; /* Hide the mobile image by default */
}

/* Media query for desktop screens */
@media only screen and (min-width: 768px) {
    .home_two_img .desktop-img {
        display: none; /* Hide the desktop image on desktop screens */
    }
    .home_two_img .mobile-img {
        display: block; /* Display the mobile image on desktop screens */
    }
}

/* Media query for mobile screens */
@media only screen and (max-width: 767px) {
    .home_two_img .desktop-img {
        display: block; /* Display the desktop image on mobile screens */
    }
    .home_two_img .mobile-img {
        display: none; /* Hide the mobile image on mobile screens */
    }
}
.row-reverse{
    flex-direction: row-reverse;
}