.login{
    display: inline-flex;
    align-items: center;
    gap: 42px;
    height: 100%;
    width: 100%;
}

.login_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 60%;
    position: relative;
    left: 10%;
}

.input_group{
    gap: 30px;
}

.Email_Pass{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.Welcome{
    color: var(--Primary-text, #0C1421);
    font-family: Figtree;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.email{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.email_text{
    color: var(--Primary-text, #0C1421);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.email_input{
    display: flex;
    width: 388px;
    overflow: hidden;
    padding: 12px 22px;
    border-radius: 100px;
    border: 1px solid var(--TCM-Brand-brand-blue05, #86C1F9);
    background: var(--TCM-Brand-brand-blue11, #E3EFFE);
    align-items: center;
    gap: 10px;

    color: var(--TCM-Brand-brand-blue06, #97C8FA);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5%;
}

.password{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.password_text{
    color: var(--Primary-text, #0C1421);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}


.password_input{
    display: flex;
    width: 388px;
    overflow: hidden;
    padding: 12px 22px;
    border-radius: 100px;
    border: 1px solid var(--TCM-Brand-brand-blue05, #86C1F9);
    background: var(--TCM-Brand-brand-blue11, #E3EFFE);
    align-items: center;
    gap: 10px;

    color: var(--TCM-Brand-brand-blue06, #97C8FA);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.forgot_pass{
    color: var(--TCM-Brand-brand-blue02, #43AAF6);
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    position: relative;
    left: 35%;
    bottom: 15%;
}

.login_button_one{
    display: flex;
    width: 388px;
    padding: 10px 20px;
    border-radius: 38px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;

}

.or{
    display: flex;
    width: 388px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
    flex-direction: row;
    
}

.or_line{
    width: 168.5px;
    height: 1px;
    background: #CFDFE2;
}


.ggoogle{
    display: flex;
    padding: 12px 9px;
    border-radius: 1000px;
    background: var(--TCM-Brand-brand-blue11, #E3EFFE);
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    width: 388px;
    color: var(--Secondary-text, #313957);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.ggoogle_img{
    width: 28px;
    height: 28px;
}

.ffacebook{
    display: flex;
    padding: 12px 9px;
    border-radius: 1000px;
    background: var(--TCM-Brand-brand-blue11, #E3EFFE);
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    width: 388px;
    color: var(--Secondary-text, #313957);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.ggoogle_img{
    width: 28px;
    height: 28px;
}

.nnew_user{
    width: 382px;
    color: var(--Secondary-text, #313957);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.nnew_user a{
    color: var(--TCM-Brand-brand-blue02, #43AAF6);
};

.login_right{
    display: flex;
    overflow: hidden;
    padding: 47px 56px;
    border-radius: 24px;
    background: var(--TCM-Brand-brand-blue12, #F1F7FE);
    align-items: flex-start;
    gap: 10px;
    width: 35%;
    height: 100%;
    margin-right: 10%;
}

.sign_up{
    color: var(--TCM-Brand-brand-blue02, #43AAF6);
    /* Paragraph/P1/Semi Bold */
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

/*phone view */

@media (max-width: 768px) {
    .login{
        display: inline-flex;
        align-items: center;
        gap: 20px;
        height: auto;
        width: 100%;
    }

    .login_left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 60%;
        position: relative;
        left: 4%;
    }

    .input_group{
        gap: 10px;
    }
    
    .Email_Pass{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .Welcome{
        color: var(--Primary-text, #0C1421);
        font-family: Figtree;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
    }
    
    .email{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    
    .email_text{
        color: var(--Primary-text, #0C1421);
        font-family: Figtree;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .email_input{
        width: 100%;
        height: auto;
        display: flex;
        overflow: hidden;
        padding: 6px 16px;
        border-radius: 100px;
        border: 1px solid var(--TCM-Brand-brand-blue05, #86C1F9);
        background: var(--TCM-Brand-brand-blue11, #E3EFFE);
        align-items: center;
        gap: 6px;
    
        color: var(--TCM-Brand-brand-blue06, #97C8FA);
        font-family: Figtree;
        font-size: 8px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 5%;
    }
    
    .password{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    
    .password_text{
        width: 100%;
        height: auto;
        color: var(--Primary-text, #0C1421);
        font-family: Figtree;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
    
    
    .password_input{
        display: flex;
        width: 100%;
        height: auto;
        overflow: hidden;
        padding: 6px 16px;
        border-radius: 100px;
        border: 1px solid var(--TCM-Brand-brand-blue05, #86C1F9);
        background: var(--TCM-Brand-brand-blue11, #E3EFFE);
        align-items: center;
        gap: 10px;
    
        color: var(--TCM-Brand-brand-blue06, #97C8FA);
        font-family: Figtree;
        font-size: 8px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    
    .forgot_pass{
        color: var(--TCM-Brand-brand-blue02, #43AAF6);
        font-family: Figtree;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        text-decoration-line: underline;
        position: relative;
        left: -21%;
        bottom: 15%;
    }

    .login_button_one{
        display: flex;
        width: 55%;
        height: auto;
        padding: 2px 13px;
        border-radius: 38px;
        background: var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 4px;
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 11px;
    
    }
    
    .or{
        display: flex;
        width: 72%;
        padding: 8px 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center;
        flex-direction: row;
        
    }
    
    .or_line{
        width: 100%;
        height: 1px;
        background: #CFDFE2;
    }
    
    
    .ggoogle{
        display: flex;
        padding: 4px 7px;
        border-radius: 1000px;
        background: var(--TCM-Brand-brand-blue11, #E3EFFE);
        justify-content: center;
        align-items: center;
        gap: 13px;
        align-self: stretch;
        width: 82%;
        color: var(--Secondary-text, #313957);
        font-family: Figtree;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .ggoogle_img{
        width: 17px;
        height: 17px;
    }
    
    .ffacebook{
        display: flex;
        padding: 4px 7px;
        border-radius: 1000px;
        background: var(--TCM-Brand-brand-blue11, #E3EFFE);
        justify-content: center;
        align-items: center;
        gap: 12px;
        align-self: stretch;
        width: 82%;
        color: var(--Secondary-text, #313957);
        font-family: Figtree;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .ffacebook_img{
        width: 17px;
        height: 17px;
    }
    
    .nnew_user{
        width: 140%;
        color: var(--Secondary-text, #313957);
        font-family: Figtree;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin-left: 5%;
    }
    .nnew_user a{
        color: var(--TCM-Brand-brand-blue02, #43AAF6);
    }
    .login_right{
        display: flex;
        overflow: hidden;
        padding: 30px 40px;
        border-radius: 24px;
        background: var(--TCM-Brand-brand-blue12, #F1F7FE);
        align-items: flex-start;
        gap: 6px;
        width: 35%;
        height: 100%;
        margin-right: 3%;
    }
    
    .sign_up{
        color: var(--TCM-Brand-brand-blue02, #43AAF6);
        /* Paragraph/P1/Semi Bold */
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}