.head_six{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.heading_content_six{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.heading_six{
    width: 494px;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
}

.detail_six{
    width: 559px;
    color: var(--TCM-Neutral-grey07, #8C8C8C);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.book{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    border: none;
}

.test_series_select{
    gap: 60px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    width: 100%;
}


.coursess-head-title{
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}



.option{
    display: flex;
    padding: 9px 31px;
    border-radius: 59px;
    border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

.test-contents{
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    gap: 62px;
    flex-wrap: wrap;
    justify-content: center;
}

.test-card{
    display: flex;
    overflow: hidden;
    padding: 30px 140px 30px 30px;
    border-radius: 14px;
    border: 2px solid rgba(20, 164, 245, 0.20);
    background: var(--TCM-Brand-brand-blue12, #F1F7FE);
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 240px;
}

.test-card-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.test-card-title{
    align-self: stretch;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.test-card-detail{
    width: 212px;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.start_test{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    border:none;
    width: 150px;
}

.view_more{
    display: flex;
    padding: 10px 5px;
    border-radius: 38px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    border: none;
    width: 150px;
    background-color: transparent;
    
}

.test-card-button{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/*phone view */

@media (max-width: 768px) {

    .head_six{
        width: 97%;
        height: auto;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    
    .heading_content_six{
        width: 46%;
        height: auto;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        position: relative;
        right: 4%;
    }
    
    .heading_six{
        width: 108%;
        height: auto;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .detail_six{
        width: 100%;
        height: auto;
        color: var(--TCM-Neutral-grey07, #8C8C8C);
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .book{
        display: flex;
        padding: 6px 14px;
        border-radius: 38px;
        background: var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 4px;
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        border: none;
    }
    
    .pages{
        width: 35%;
        height: 106px;
        position: relative;

    }
    .test_series_select{
        gap: 20px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }


    .coursess-head-title{
        width: 221px;
        line-height: 32px;
        font-feature-settings: 'clig' off, 'liga' off;
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: var(--font-xxl);
        font-style: normal;
        font-weight: 700;
        text-align: center;
    }

    .option{
        display: flex;
        padding: 5px 20px;
        border-radius: 59px;
        border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }

    .test-contents{
        display: flex;
        width: 100%;
        height: auto;
        position: relative;
        gap: 20px;
        flex-wrap: wrap;
    }
    .bellll{
        position: relative;
        top: 3%;
    }
    .test-card{
        display: flex;
        overflow: hidden;
        padding: 30px 140px 30px 30px;
        border-radius: 14px;
        border: 2px solid rgba(20, 164, 245, 0.20);
        background: var(--TCM-Brand-brand-blue12, #F1F7FE);
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 160px;
    }
    
    .test-card-content{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    
    .test-card-title{
        width: 100%;
        height: auto;
        align-self: stretch;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .test-card-detail{
        width: 94%;
        height: auto;
        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .start_test{
        display: flex;
        padding: 13px 13px;
        border-radius: 38px;
        background: var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        border:none;
        height: fit-content;
    }
    
    .view_more{
        display: flex;
        padding: 13px 23px;
        border-radius: 38px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        text-wrap: nowrap;
        text-decoration-line: underline;
        border: none;
        width: 150px;
        height: fit-content;
        background-color: transparent;
        
    }
    
    .test-card-button{
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 92%;
        height: auto;
    }

}