.rectangle{
    width: 100%;
    height: 700px;
    flex-shrink: 0;
    background:var(--TCM-Brand-brand-blue01, #14A4F5);
    overflow: hidden;
}

.teacher_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    flex: 1 0 0;
    width: 550px;
    position:relative;
    left:8%;
}

.teacher_heading{
    display: flex;
    flex-direction: column; 
    align-items: left;
}

.names{
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */

}

.desig{
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

.content{
    align-self: stretch;
    color: var(--TCM-Brand-brand-blue13, #FFF);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-align: justify;
}

.Book_Live{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    border: 1px solid var(--TCM-Neutral-grey01, #FFF);
    justify-content: center;
    align-items: center;
    gap: 6px;

    color: var(--TCM-Brand-brand-blue01, #14A4F5);;
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    background: var(--TCM-Neutral-grey01, #FFF);
}


.teacher {
    width: 660px;
    height: auto;
    flex-shrink: 0;
    position: relative;
    left: 60%; /* Adjust as needed */
    bottom: 460px; /* Adjust as needed */
    z-index: 1; /* Ensure image is in front of circle */
}

.teacher::after {
    content: '';
    position: absolute;
    display: block;
    width: 780px; /* Diameter of the circle */
    height: 780px;
    background-color: white; /* Color of the circle */
    border-radius: 50%; /* Makes the shape circular */
    bottom: -370px; /* Adjust the distance from the bottom of the image */
    left: 50%;
    transform: translateX(-50%);
    z-index: -1; /* Ensure the circle is behind the image */
}



.teacher_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: 230px;
    margin-top:6%;
    gap: 20px;

}

.teacher_card{
    display: flex;
    overflow: hidden;
    padding: 36px 40px;
    border-radius: 16px;
    border: 2px solid var(--TCM-Neutral-grey04, #F0F0F0);
    background: var(--TCM-Neutral-grey02, #FAFAFA);
    align-items: flex-start;
    gap: 10px;
}

.teacher_card_details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.teacher_card_head{
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

.teacher_card_text{
    width: 308px;
    color: var(--TCM-Neutral-grey10, #262626);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.teacher_wheel{
    width: 90%;
    margin-left: 5%;
    height: 700.699px;
    margin-top: 20%;
    align-items: start;
    justify-content: space-evenly;
    display: flex;
    }

.head_five{
    width: 612px;
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    position: relative;

}

.wheel{
    position: relative;
    bottom: 22%;
    width: 790px;

}

.special{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.special_left{
    height:fit-content ;
    width: 100%;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.special_head{
    width: 587px;
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 15%;
}

.special_square1{
    width: 409px;
    height: 353px;
    overflow: hidden;
    border-radius: 16px;
    border: 2px solid rgba(20, 164, 245, 0.20);
    background: var(--TCM-Brand-brand-blue11, #E3EFFE);
    flex-shrink: 0;
    position: relative;
    
}

.special_square2{
    width: 409px;
    height: 353px;
    overflow: hidden;
    border-radius: 16px;
    border: 2px solid rgba(20, 164, 245, 0.20);
    background: var(--TCM-Brand-brand-blue10, #D4E7FD);
    flex-shrink: 0;
    position: absolute;
    top: 73%; /* adjust as needed */
    left: 50%; /* adjust as needed */
    transform: translate(-50%, -50%);

}

.special_right{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 66px;
    position: relative;
    left: 20%;

}

.special_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.special_block_head{
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.special_detail{
    width: 565px;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.card-2-container {
    gap: 40px;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* This will allow the cards to wrap to the next line if the container width is not enough */
    justify-content: normal;
}


@media (min-width: 769px) { /* Change to tablet or desktop view */
    .mobile-view {
        display: none; /* Hide on desktop */
    }

    .desktop-view {
        
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 34px;
        flex-wrap: wrap;/* if you want some space between the cards */
      }
}
/*phone view */

@media (max-width: 1208px) {
    .rectangle{
        width: 100%;
        height: fit-content;
        flex-shrink: 0;
        background:var(--TCM-Brand-brand-blue01, #14A4F5);
    }
    
    .teacher_content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        flex: 1 0 0;
        width: 96%;
        position:relative;
        left:8%;
    }
    
    .teacher_heading{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column; 
        align-items: left;
    }
    
    .names{
        width: 100%;
        height: auto;
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; /* 116.667% */
    
    }
    
    .desig{
        width: 100%;
        height: auto;
        color: var(--TCM-Neutral-grey01, #b7d8fc);
        font-family: Figtree;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    .content{
        width: 80%;
        height: auto;
        align-self: stretch;
        color: var(--TCM-Brand-brand-blue13, #FFF);
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    
    .Book_Live{
        width: fit-content;
        height: auto;
        display: flex;
        padding: 6px 14px;
        border-radius: 38px;
        border: 1px solid var(--TCM-Neutral-grey01, #FFF);
        justify-content: center;
        align-items: center;
        gap: 3px;
        text-wrap: nowrap;
    
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        background-color: transparent;
    }
    
    .teacher{
        width: 60%;
        height: auto;
        flex-shrink: 0;
        position: relative;
        left: 20%;
        top: 5px
    }

    .teacher::after {
        content: '';
        position: absolute;
        display: block;
        aspect-ratio: 1 / 1 ;
        width: 170%; /* Diameter of the circle */
        max-width: 700px;
        height: auto;
        background-color: white; /* Color of the circle */
        border-radius: 50%; /* Makes the shape circular */
        bottom: -290px; /* Adjust the distance from the bottom of the image */
        left: 50%;
        transform: translateX(-50%);
        z-index: -1; /* Ensure the circle is behind the image */
    }

    .teacher_cards{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        width: 100%;
        height: 120px;
        margin-top:43px;
        gap: 8px;
        justify-content: start;
        align-items: start;
        padding-left: 16px;
    }
    
    .teacher_card{
        width: 50%;
        display: flex;
        overflow: hidden;
        height: 76%;
        padding: 12px 12px;
        border-radius: 16px;
        border: 2px solid var(--TCM-Neutral-grey04, #F0F0F0);
        background: var(--TCM-Neutral-grey02, #FAFAFA);
        align-items: flex-start;
        gap: 6px;
        flex-shrink: 0;
    }
    
    .teacher_card_details{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }
    
    .teacher_card_head{
        width: 100%;
        height: auto;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left;
        position: relative;
    }
    
    .teacher_card_text{
        width: 100%;
        height: auto;
        color: var(--TCM-Neutral-grey10, #262626);
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .head{
        width: 100%;
        height: auto;
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: relative;
        left: 7%;
        top: -30%;
    
    }
    .teacher_wheel{
        flex-direction: column;
        height: auto;
        margin-top: 15%;
        margin-bottom: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
    }

    .wheel{
        width: 90%;
        left: 5%;
        height: auto;
        position: relative;
    }

    .head_five{
        width: 52%;
        height: auto;
        font-size: 18px;
        line-height: 28px;
        position: relative;
        text-align: center;
    }

    .special{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .special img{
        width: 70%;
    }
    
    .special_left{
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .special_head{
        width: fit-content;
        height: auto;
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: normal;
    }
    
    .special_square1{
        width: 60%;
        height: 100px;
        overflow: hidden;
        border-radius: 16px;
        border: 2px solid rgba(20, 164, 245, 0.20);
        background: var(--TCM-Brand-brand-blue11, #E3EFFE);
        flex-shrink: 0;
        position: relative;
        
    }
    
    .special_square2{
        width: 60%;
        height: 100px;
        overflow: hidden;
        border-radius: 16px;
        border: 2px solid rgba(20, 164, 245, 0.20);
        background: var(--TCM-Brand-brand-blue10, #D4E7FD);
        flex-shrink: 0;
        position: absolute;
        top: 44%; /* adjust as needed */
        left: 50%; /* adjust as needed */
        transform: translate(-50%, -50%);
    
    }
    
    .special_right{
        width: 80%;
        height: auto;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 19px;
        position: relative;
        left: 1%;
    
    }
    
    .special_block{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    
    .special_block_head{
        width: 100%;
        height: auto;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .special_detail{
        width: 100%;
        height: auto;
        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .card-2-container {
        display: flex;
        align-items: flex-start;
        gap: 7px;
        flex-direction: row;
        width: 70%;
    }

    .bottom-layer{
        text-align: left;
    }
    .desktop-view {
        display: none; /* Hide on mobile by default */
    }

    .carousel * {
        box-sizing: content-box !important;
    }
    .carousel-slidee{
        display: flex !important;
        flex-direction: row !important;
        width: 15vw !important;
    }
    


    .carousel .control-prev.control-arrow {
        display: none;
    }

}
@media (min-width: 768px) and (max-width: 1200px) {
    .names{
        font-size: 32px;
    }
    .desig{
        font-size: 26px;
    }
    .content{
        font-size: 20px;
    }
    .Book_Live{
        font-size: 20px;
    }
    .teacher_card_head{
        font-size: 21px;
    }
    .teacher_card_text{
        font-size: 20px;
    }
    .head{
        font-size: 21px;
    }
    .special_head{
        font-size: 26px;
    }
    .special_block_head{
        font-size: 21px;
    }
    .special_detail{
        font-size: 20px;
    }
    .head_five{
        font-size: 28px;
    }
    .teacher_cards{
        height: fit-content;
        gap: 30px;
    }
    .card-2-container{
        gap: 30px;
    }
}