.head_three{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin-bottom: 10px;
}

.heading_three{
    width: 1056px;
    font-family: Figtree;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
}
.BLUEs{
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
}

.BLACKs{
    color: var(--TCM-Neutral-grey13, #000);
}

.subheading{
    width: 897px;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.group-content{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 120px;
    flex-wrap: wrap;
    flex-direction: row;
    width: fit-content;
    margin: auto;
}

.group-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 10%;
}

.imgg{
    width: 800px;
    height: 390px;
    align-items: center;
}

.group-photo-subheadng{
    font-family: Figtree;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.black{
    color: var(--TCM-Neutral-grey13, #000);
}

.blue{
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
}

.important-points{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.pointss{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    width: 90%;
    left:5%;

}

.important-points ul {
    list-style: none;
    padding-left: 0;
  }

.important-points ul li {
    background: url('../../../public/checkmark-icon.png') no-repeat left center;
    background-size: 20px;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 16px;
  }

.bullet{
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.live-class{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
}

.live-class a{
    text-decoration: none;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);

}


.buy-now{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--Neutral-Gray-50, #F8FAFC);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    border: none;
}

.buy-now a{
    text-decoration: none;
    color: var(--Neutral-Gray-50, #F8FAFC);
}

.buttonns{
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.roadmaps{
    margin-left: 10%;
    overflow: hidden;
    width: fit-content;
    height: 100%;
    background: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    
}

.roadmaps-head{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    width: 500px;
}

.roadmaps-heading{
    width: 528px;
    font-family: Figtree;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
}

.BLACK{
    color: var(--TCM-Neutral-grey13, #000);
}

.BLUE{
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    display: inline-flex;
    gap: 20px;
    
    
}



.roadmaps-heading-detail{
    width: 402px;
    color: var(--TCM-Neutral-grey08, #595959);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.buttonss{
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.counsels{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--Neutral-Gray-50, #F8FAFC);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    border: none;
}

.counsels a{
    text-decoration: none;
    color: var(--Neutral-Gray-50, #F8FAFC);
}

.triall{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
    background: var(--TCM-Neutral-grey01, #FFF);
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}

.triall a{
    text-decoration: none;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
}
.slide-img{
    margin-top: 5%;
    width: 50%;
    height: auto;
    
}

.discount{
    margin-top: 10%;
}

.option{
    display: flex;
    padding: 9px 31px;
    border-radius: 59px;
    border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--TCM-Brand-brand-blue01, #14A4F5);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

.course_batch{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 10%;
}

.comparison-plans{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 10%;
    margin: auto;
        
    
}

.comparison-head{
    color: var(--TCM-Neutral-grey13, #000);
    font-family: Figtree;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    margin-left: 10%;
}

.comparison-content{
    display: flex;
    align-items: center;
    margin-left: 2%;

}

.comparison-card-one{
    display: flex;
    width: 365px;
    height: 630px;
    overflow: hidden;
    padding: 74px 67px;
    background: var(--TCM-Brand-brand-blue01, #14A4F5);
    align-items: flex-start;
    gap: 10px;
}

.comparison-card-one-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.comparison-card-one-title{
    width: 346px;
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.comparison-card-one-detail{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.comparison-card-one-points{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.comp-bullet{
    width: 230px;
    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.comp-book{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    border: 1px solid var(--TCM-Neutral-grey01, #FFF);
    justify-content: center;
    align-items: center;
    gap: 6px;

    color: var(--TCM-Neutral-grey01, #FFF);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
}

.comp-book a{
    text-decoration: none;
    color: var(--TCM-Neutral-grey01, #FFF);
}

.comparison-card-two{
    display: flex;
    width: 365px;
    height: 620px;
    overflow: hidden;
    padding: 60px 64px;
    background: var(--TCM-Brand-brand-blue04, #73B9F8);
    align-items: flex-start;
    gap: 10px;
}

.slides-imgg{
    height: 390px;
    width: auto;
}


/*phone view */

@media (max-width: 768px) {
    .head_three{
        width: 70%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        position: relative;
        margin: auto;
        left: 15%;
    }
    
    .heading_three{
        width: 100%;
        font-family: Figtree;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
    .BLUEs{
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-size: 20px;

    }

    .slides-imgg{
        height: 360px;
        width: auto;
    }
    
    .BLACKs{
        color: var(--TCM-Neutral-grey13, #000);
        font-size: 20px;
    }
    
    .subheading{
        width: 100%;
        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
    
    .group-content{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 5px;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .group-photo{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin-bottom: 15px;

    }
    
    .imgg{
        width: 100%;
        height: auto;
        align-items: center;
    }
    
    .group-photo-subheadng{
        font-family: Figtree;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 6px;
    }
    
    .black{
        position: relative;
        color: var(--TCM-Neutral-grey13, #000);
        font-size: 16px;
        width: 90%;
        left: 5%;
    }
    
    .blue{
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-size: 20px;
    }
    
    .important-points{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1px;
    }
    
    .points{
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    
    
    }
    
    .bullet{
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .live-class{
        display: flex;
        padding: 8px 14px;
        border-radius: 38px;
        border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
    }
    
    .live-class a{
        text-decoration: none;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
    height: fit-content;
    }
    
    .buy-now{
        display: flex;
        padding: 8px 14px;
        border-radius: 38px;
        background: var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: var(--Neutral-Gray-50, #F8FAFC);
        font-family: Figtree;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        border: none;
    }

    .buy-now a{
        text-decoration: none;
        color: var(--Neutral-Gray-50, #F8FAFC);
    }
    
    .buttonss{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .roadmaps{
        margin-left: 0px;
        overflow: hidden;
        width: 100%;
        background: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        margin-top: 60px;
        
    }
    
    .roadmaps-head{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 80%;
        margin-top:2%;
        position: relative;
    }
    
    .roadmaps-heading{
        width: 100%;
        font-family: Figtree;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        gap: 10px;
    }
    
    .BLACK{
        color: var(--TCM-Neutral-grey13, #000);
        font-size: 22px;
    }
    
    .BLUE{
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        display: inline-flex;
        gap: 10px;
        width: 100%;
        font-size: 25px;
    }
    
    .roadmaps-heading-detail{
        width: 100%;
        color: var(--TCM-Neutral-grey08, #595959);
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .buttonns{
        width: 90%;
        display: flex;
        flex-direction: row;
        gap: 6px;
        align-items: flex-start;
        position: relative;
        position: relative;
        height: fit-content;
    left: 5%;
        
    
    }
    
    .counsels{
        width: 53%;
        display: flex;
        padding: 1px 16px;
        border-radius: 38px;
        border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: white;
        font-family: Figtree;
        font-size: 11px;
        height: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 6px;
        text-align: center;
    }
    .counsels a{
        text-decoration: none;
        color: var(--Neutral-Gray-50, #F8FAFC);
    }

    .triall a{
        text-decoration: none;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
    }
    .triall{
        width: 117%;
        display: flex;
        padding: 7px 16px;
        border-radius: 38px;
        border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
        background: var(--TCM-Neutral-grey01, #FFF);
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        font-family: Figtree;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 2px;
        text-align: center;
    }
    
    .slide-img{
        width: 100%;
        height: auto;
        
    }

    .slides-imgg{
        position: relative;
        bottom: 24px;
        width: 80%;
        left: 10%;
        margin-top: 50px;
    }
    
    .discount{
        margin-top: 10%;
        width: 100%;
        height: auto;
    }
    
    .option{
        display: flex;
        padding: 5px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 59px;
        border: 1px solid var(--TCM-Brand-brand-blue01, #14A4F5);
        color: var(--TCM-Brand-brand-blue01, #14A4F5);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        /* TCM Mobile/text-sm/Medium-M */
        font-family: Figtree;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
    }
    
    .course_batch{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 21px;
    }
    
    .comparison-plans{
        width: 100%;
        height: auto;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 25%;
        
    }
    
    .comparison-head{
        width: 100%;
        height: auto;
        color: var(--TCM-Neutral-grey13, #000);
        font-family: Figtree;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        margin-left: 1%;
    }
    
    .comparison-content{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 2%;
        gap: 0px;
    
    }
    
    .comparison-card-one{
        display: flex;
        width: 100;
        height: auto;
        overflow: hidden;
        padding: 45px 47px;
        background: var(--TCM-Brand-brand-blue01, #14A4F5);
        align-items: flex-start;
        gap: 6px;
    }
    
    .comparison-card-one-body{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    
    .comparison-card-one-title{
        width: 50%;
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .comparison-card-one-detail{
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    
    .comparison-card-one-points{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    
    .comp-bullet{
        width: 230px;
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
    }
    
    .comp-book{
        display: flex;
        padding: 5px 12px;
        border-radius: 38px;
        border: 1px solid var(--TCM-Neutral-grey01, #FFF);
        justify-content: center;
        align-items: center;
        gap: 6px;
    
        color: var(--TCM-Neutral-grey01, #FFF);
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        text-align: center;
        background-color: transparent;
    }
    
    .comp-book a{
        text-decoration: none;
        color: var(--TCM-Neutral-grey01, #FFF);
    }
    .comparison-card-two{
        display: flex;
        width: 70;
        height: auto;
        overflow: hidden;
        padding: 45px 47px;
        background-color: var(--TCM-Brand-brand-blue04, #73B9F8);
        align-items: flex-start;
        gap: 6px;
    }
    .important-points ul li {
        background: url('../../../public/checkmark-icon.png') no-repeat left center;
        background-size: 20px;
        padding-left: 30px;
        margin-bottom: 10px;
        font-size: 14px;
      }

      .comparison-card-two ul{
        list-style: none;
      }

      

}

   .comparison-card-one ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

   .comparison-card-one ul li {
    background: url('../../../public/checkmark-icon.png') no-repeat left center;
    background-size: 20px;
    padding-left: 30px;
    filter: brightness(200);
    margin-bottom: 10px;
  }

  .comparison-card-two ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .comparison-card-two ul li {
    background: url('../../../public/checkmark-icon.png') no-repeat left center;
    background-size: 20px;
    padding-left: 30px;
    filter: brightness(200);
    margin-bottom: 10px;
  }