.off_centre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    
}

.centre_heading{
    width: 878px;
    color: var(--TCM-Neutral-grey13, #262626);
    font-family: Figtree;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
}

.centres{
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.centre_one{
    position: relative;
}

.centre_two {
    position: relative;
}

.centre_prayagraj{
    width: 100%; /* adjust as needed */
    border-radius: 16px;
    height: auto; /* adjust as needed */
    max-width: 540px; 
}
.centre_varanasi {
    width: 100%; /* adjust as needed */
    height: auto; /* adjust as needed */
}

.centre_name{
    color: var(--TCM-Neutral-grey01, #FFF);
    position: absolute;
    font-family: Figtree;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    bottom: 5%; /* adjust as needed */
    left: 18%; /* adjust as needed */
    transform: translate(-50%, -50%); 
}

.centre_name, .visit{
    position: absolute;
}

.visit{
    display: flex;
    padding: 10px 20px;
    border-radius: 38px;
    border: 1px solid var(--TCM-Neutral-grey01, #FFF);
    background: var(--TCM-Neutral-grey01, #FFF);
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-family: Figtree;
    bottom: 5%; /* adjust as needed */
    right: 1px; /* adjust as needed */
    transform: translate(-50%, -50%); /* centers the element horizontally */
}

.visit a{
    text-decoration: none;
    color: var(--TCM-Neutral-grey13, #000);
    
}

/*phone view */

@media (max-width: 768px) {
    .off_centre{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .centre_heading{
        width: 72%;
        height: auto;
        font-family: Figtree;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        justify-content: center;    
        position: relative;

    }
    
    .centres{
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 18px;
    }
    
    .centre_one{
        position: relative;
        left: 10%;
    }
    
    .centre_two {
        position: relative;
    }
    
    .centre_prayagraj{
        width: 78%; /* adjust as needed */
        border-radius: 8px;
        height: auto; /* adjust as needed */ 
    }
    .centre_varanasi {
        width: 78%; /* adjust as needed */
        height: auto; /* adjust as needed */
    }
    
    .centre_name{
        color: var(--TCM-Neutral-grey01, #FFF);
        position: absolute;
        font-family: Figtree;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        bottom: 5px; /* adjust as needed */
        left: 16%; /* adjust as needed */
        transform: translate(-50%, -50%); 
    }
    
    .centre_name, .visit{
        position: absolute;
    }
    
    .visit{
        display: flex;
        padding: 4px 12px;
        border-radius: 38px;
        border: 1px solid var(--TCM-Neutral-grey01, #FFF);
        background: var(--TCM-Neutral-grey01, #FFF);
        justify-content: center;
        align-items: center;
        gap: 1px;
        font-size: 11px;
        bottom: -1%;
        left: 72%;
        transform: translate(-91%, -92%); /* centers the element horizontally */
    }
}