:root {
    --font-xxl: 48px;
    --font-m: 24px;
    --font-card-title: 16px;
    --font-card-title-two: 24px;
  }
  
  @media screen and (max-width: 768px) {
    :root {
      --font-xxl: 24px;
      --font-m: 10px;
      --font-card-title: 12px;
      --font-card-title-two: 18px;
    }
    body,html{
      padding: 0 20px;
    }
  }
  
  #root {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
  }
  

body,html{
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
} 